<div class="social-icons">
<!-- LinkedIn -->
<a id="linkedin" href="https://linkedin.com/in/olivergking/" target="_blank" rel="noopener">
{{ partial "svg.html" (dict "name" "linkedin") }}
</a>

<!-- GitHub -->
<a id="github" href="https://github.com/olivergking/" target="_blank" rel="noopener">
{{ partial "svg.html" (dict "name" "github") }}
</a>

<!-- Email (custom expandable) -->
<details class="email-expand">
<summary>
<a id="email" rel="noopener">
{{ partial "svg.html" (dict "name" "email") }}
</a>
</summary>
<span class="email-text" style="padding-left: 10px;padding-right: 10px;"><strong>oliver01king at gmail dot com</strong></span>
</details>

<!-- PlayStation -->
<a id="psn" href="https://psnprofiles.com/OL_THE_TROLL" target="_blank" rel="noopener" style="margin-left: 12px;">
{{ partial "svg.html" (dict "name" "psn") }}
</a>
</div>